<ng-container *ngIf="(isLoading$ | async) === false">
  <div class="grid grid-cols-[300px,1fr]">
    <div class="hidden md:block min-h-screen h-full w-full">
      <fb-sidebar [association]="selectedAssociation$ | async">
        <fb-league-navigation
          *ngIf="leagues$ | async as leagues"
          [leagues]="leagues"
          [selectedAssociation]="selectedAssociation$ | async"
        ></fb-league-navigation>

        <ng-container *ngIf="favoriteLeagues$ | async as favoriteLeagues">
          <fb-favorites-navigation
            [favorites]="favoriteLeagues"
          ></fb-favorites-navigation>
        </ng-container>
      </fb-sidebar>
    </div>
    <div class="h-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
