<ng-container *ngIf="(isLoading$ | async) === false">
  {{ favoriteLeagues$ | async | json }}
  <div class="grid grid-cols-[300px,1fr]">
    <div class="hidden md:block h-full w-full">
      <fb-sidebar>
        <fb-league-navigation
          *ngIf="leagues$ | async as leagues"
          [leagues]="leagues"
          [selectedAssociation]="selectedAssociation$ | async"
        ></fb-league-navigation>

        <ng-container *ngIf="favoriteLeagues$ | async as favoriteLeagues">
          <fb-favorites-navigation
            [favorites]="favoriteLeagues"
            [selectedAssociation]="selectedAssociation$ | async"
          ></fb-favorites-navigation>
        </ng-container>
      </fb-sidebar>
    </div>
    <div class="h-screen overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
