<ng-container *ngIf="(isLoading$ | async) === false">
  <div
    class="lg:grid lg:grid-cols-[300px,1fr] min-h-screen print:lg:grid-cols-1"
  >
    <div class="lg:block h-full w-full print:lg:hidden">
      <fb-sidebar [association]="selectedAssociation$ | async">
        <fb-favorites-navigation
          [favorites]="(favoriteLeagues$ | async) ?? []"
          [favoriteTeams]="(favoriteTeams$ | async) ?? []"
          (removeFavorite)="removeFavoriteLeague($event)"
          (removeTeamFavorite)="removeFavoriteTeam($event)"
          class="hidden lg:block"
        ></fb-favorites-navigation>

        <fb-league-navigation
          *ngIf="leagues$ | async as leagues"
          [leagues]="leagues"
          [selectedAssociation]="selectedAssociation$ | async"
          [seasons]="(seasons$ | async) ?? []"
          [selectedSeasonId]="(selectedSeasonId$ | async) ?? null"
          (seasonChange)="onSeasonChange($event)"
          class="hidden lg:block"
        ></fb-league-navigation>
      </fb-sidebar>
    </div>
    <div
      class="h-full mt-[95px] lg:mt-0 lg:max-w-[calc(100vw-300px)] print:mt-0"
    >
      <div class="absolute flex justify-center items-center z-60">
        <fb-notification></fb-notification>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
