.context:checked + div {
  display: block;
}

.megaphone-stroke::after {
  position: absolute;
  display: block;
  top: -3px;
  left: 50%;
  width: 2px;
  height: 30px;
  transform: rotate(45deg) translateX(-50%);
  background: #000;
  content: " ";
}

.calculator-stroke::after {
  position: absolute;
  display: block;
  top: -3px;
  left: 50%;
  width: 2px;
  height: 30px;
  transform: rotate(45deg) translateX(-50%);
  background: #000;
  content: " ";
}
